
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TourVM
<!-- Main start -->
<main>
    <!-- Hero -->
    <section class="hero">
        <div class="image">
            <img src="~/uploads/tour/@Model.Tour.HeroImgUrl" alt="bht - turlar" />
        </div>
        <div class="info">
            <h1 class="page-title">@Model.Tour.Title</h1>
        </div>
    </section>
    <!-- Hero end -->
    <!-- Tour start -->
    <section id="tour">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="heading">
                        <h2 class="title">@Model.Tour.Title</h2>
                        <span class="price">$@Model.Tour.Price</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="gallery">
                        <img src="~/uploads/tour/@Model.Tour.ImgUrl"
                             style="width: 100%" />
                    </div>
                    <div class="tour-video">
                        <iframe width="100%"
                                height="350"
                                src="@Model.Tour.YoutubeLink"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="tour-map">
                        <iframe src="@Model.Tour.TourMap"
                                width="100%"
                                height="450"
                                style="border: 0"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="btn-list">
                        <a class="btn-item">
                            <img src="~/assets/icon/tour_info.png" alt="info" />
                            <span>məlumat</span>
                        </a>
                        <a class="btn-item">
                            <img src="~/assets/icon/tour_video.png" alt="video" />
                            <span>video</span>
                        </a>
                        <a class="btn-item">
                            <img src="~/assets/icon/tour_map.png" alt="map" />
                            <span>XƏRİTƏDƏ GÖSTƏR</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="additional">
                        <div class="title">Tur haqqında məlumat</div>
                        <div class="section">
                            @Html.Raw(Model.Tour.TourAbout)
                        </div>
                        <div class="section">
                            <div class="label full">Turun tarixi:</div>
                            <div class="time">
                                <img src="~/assets/icon/clock.png" alt="" />

                                @Model.Tour.TourDate
                            </div>
                        </div>
                        <div class="section">
                            <div class="label full">Turun yerləşdirmə tarixi:</div>
                            <div class="time">
                                <img src="~/assets/icon/clock.png" alt="" />
                                @Model.Tour.Date
                            </div>
                        </div>
                        <div class="section">
                            <div class="registration">
                                <div class="label">
                                    <em> Qeyd: </em>
                                </div>
                                <em>
                                    @Model.Tour.Note
                                </em>
                            </div>
                        </div>
                        <div class="section">
                            <div class="value black">
                                <div class="icon">
                                    <img src="~/assets/icon/tour_endirim-icon.png" alt="" />
                                </div>
                                <span class="black">
                                    Bundan aşağı qiymət tapmısız? Bizə bildirin, biz daha
                                    sərfəli qiymət təqdim edək!
                                </span>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="button ordernow">Turu Sifariş et</a>
                            <a href="#" class="button ordernowBuy">Turu al</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tour-info-desc">
                        <div class="text">
                            @Html.Raw(Model.Tour.Content)
                        </div>
                        <button class="tour-desc-btn">daha çox</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="help-card">
                        <div class="title">kömək lazımdır?</div>
                        <p class="text">
                            Tur seçimində çətinliyiniz var? Biz sizə kömək edərik:
                        </p>
                        <a href="tel:012-589-88-99">
                            <img src="~/assets/icon/static_phone.png" alt="phone" />
                            <span>+994 12 589 88 99</span>
                        </a>
                        <a href="mailto: abc@example.com">
                            <img src="~/assets/icon/static_mail.png" alt="phone" />
                            <span>abc@example.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tour end -->
    <!-- Tour Cards start -->
    <section id="tours-detail-cards">
        <div class="container">
            <div class="tour-cards">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    @foreach (var item in Model.Tours)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <a asp-controller="tour" asp-action="detail" asp-route-id="@item.Id">
                                    <img src="~/uploads/tour/@item.ImgUrl"
                                     class="card-img-top"
                                     alt="..." />
                                </a>
                                <span class="price">$ @item.Price</span>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @item.Title
                                    </h5>
                                    <div class="date">
                                        <img src="~/assets/icon/date-orange.png" alt="" />
                                        @item.TourDate
                                    </div>
                                    <div class="card-bottom">
                                        <a asp-controller="tour" asp-action="detail" asp-route-id="@item.Id" class="more-detailed">ətraflı məlumat</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Tour Cards end -->
</main>
<!-- Main end -->

